a {
    text-decoration: none;
}

body>section{
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    height: 100vh;
    overflow:auto; 
}

h1{
    margin-top: 3%;
    font-size: 5rem;
    color: white;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    max-height: 100%;
   
}

.wrap {
    padding: 40px 0;
    background-color: #A8C0D6;
    max-width: 90%;
    margin: 0 auto;
    border-radius : 40px 40px;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}

.wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}



.instruction{
	display:flex;
	justify-content:center;
}


.instruction #userInstruct{
  width:90%;
  height:100px;
  font-size:20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.label{
	justify-content : flex-end;
	margin-right:10px;
}
.label .checkbox-instruction{
	margin-right:10px;
	
}

