.hero{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: blue;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display:flex;
	flex-direction: column;
}

.hero h2{
	font-size: 60px;
	margin-bottom: 20px;
}

.hero p{
	color: black;
	font-size : 22px;
}

.hero button{
	background-color: none;
	border: 2px solid darkseagreen;
	color: white;
	padding: 15px 20px;
	border-radius: 20px;
	margin-top: 30px;
	outline: none;
	cursor: pointer;
	transition: all .4s;
}

.hero button:hover{
	background-color: darkslategray;
}